    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h3>About Us</h3>
            <p>Think ahead…Get ahead…Stay ahead…With CONFIDENCE.</p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                Confidence Global Consult Ltd was established in Nigeria in 2020 as an indigenous dynamic training/educational consultant. We have been in business for over a decade through our Parent Company (Samson Gems & Inv. Co. Ltd) providing educational consultancy services in many disciplines of management.
              </p>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="" style="text-decoration: none;">Our Mission</a></h4>
                <p class="description">Is to provide productivity enhancement and capacity building services through training and consultancy. 
                  We have served as a recognized educational and management development consultant for a number of institutions. 
                  Our services are intended to provide our clients with the necessary skills and work values to fully leverage the creative potentials of human resources for increased productivity.</p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="" style="text-decoration: none;">Our Vision</a></h4>
                <p class="description">Is to provide great and high-quality capacity-building soft skills services to individuals and organizations in order to promote human development.</p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                <h4 class="title"><a href="" style="text-decoration: none;">Ethics</a></h4>
                <p class="description">CONFIDENCE enjoys the honor and privilege of heading some of Nigeria's most high-profile initiatives. We make every effort to uphold the industry's highest ethical standards. We have earned the confidence of the consultant sector by being constantly identified with honesty and high standards.</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
              <img src="assets/img/about-img.svg" class="img-fluid" alt="">
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6" data-aos="fade-right">
              <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
              <!-- <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4> -->
              <p>
                Our aim is to deliver productivity enhancement and capacity building services to corporate bodies, government MDAs, NGOs/FPOs, and development organizations through training and consulting (e.g., UNICEF, UNDP, AfDB, ADF, World Bank, UNs). The value of Management Information Systems (MIS) to a company is defined by how hardware, software, and network technologies are employed to support the company's goals.
              </p>
              <p>
                This is accomplished by deploying specialized work/business apps that serve various organizational processes and functions.
                In this information age, it is also beneficial for every individual/organization to use MIS for personal growth, national building, regional cooperation, and global engagement. 
                The modern economy is driven by "INFORMATION," and any government should be able to recognize information that is powerful enough to enable it to influence its citizens.
              </p>
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
              <img src="assets/img/about-extra-2.svg" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
              <!-- <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4> -->
              <p>
                Our services are tailored to your ministry/department/aims agency's and needs. 
                As a result, we advise collaborating with your organization, led by you, to give Corporate Educational, "MIS," and Management Development soft skills (ECD, CSR, etc.).
                We are certain that you will find our services to be efficient and successful, and we are eager to collaborate with and for you to guarantee that your patronage is a mutually beneficial business experience. 
              </p>
              <p>
                We urge that you kindly contact us if you require any further information about our services.
              </p>

            </div>
  
          </div>
  
        </div>
      </section><!-- End About Section -->
