<app-header>
<main id="main">
<section id="programs" class="clearfix">
    <div class="container" data-aos="fade-up">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Codes</th>
                <th scope="col">Courses</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>PAM01</td>
                <td>Essentials of Project Management for Non-Project Managers</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>PAM02</td>
                <td>Improving Your Project Management Skills: The Basis for Success</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>PAM03</td>
                <td>Technical Project Management</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>PAM04</td>
                <td>Information Technology Project Management</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>PAM05</td>
                <td>Strategic Project Management</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>PAM06</td>
                <td>Comprehensive Project Planning, Analysis and Management Using MS Office Project and Primavera P6 Professional</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>PAM07</td>
                <td>Procurement Planning and Contract Management</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>PAM08</td>
                <td>Project Stakeholders’ Management</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>PAM09</td>
                <td>Project Management Professional (PMP) Exam Prep Express</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>PAM10</td>
                <td>Enterprise Project Portfolio Management Using Primavera P6 Professional Fundamentals</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>PAM11</td>
                <td>Enterprise Project Portfolio Management Using Primavera P6 Professional Advanced</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>PAM12</td>
                <td>Community-Based Development Projects: Design, Implementation, Analysis and Management</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>PAM13</td>
                <td>Project Management for Administrative Professionals</td>
              </tr>
              <tr>
                <th scope="row">14</th>
                <td>PAM14</td>
                <td>Business Analysis Essentials</td>
              </tr>
              <tr>
                <th scope="row">15</th>
                <td>PAM15</td>
                <td>Requirements Development, Documentation and Management</td>
              </tr>
              <tr>
                <th scope="row">16</th>
                <td>PAM16</td>
                <td>Project Scheduling & Cost Planning Skills</td>
              </tr>
              <tr>
                <th scope="row">17</th>
                <td>PAM17</td>
                <td>Managing Multiple Tasks, Priorities & Deadlines</td>
              </tr>
              <tr>
                <th scope="row">18</th>
                <td>PAM18</td>
                <td>Negotiating & Dispute Resolutions</td>
              </tr>
              <tr>
                <th scope="row">19</th>
                <td>PAM19</td>
                <td>Feasibility Studies: Preparation, Analysis & Evaluation</td>
              </tr>
              <tr>
                <th scope="row">20</th>
                <td>PAM20</td>
                <td>Building Task Leadership Skills</td>
              </tr>
              <tr>
                <th scope="row">21</th>
                <td>PAM21</td>
                <td>Project Scheduling, Cost Planning & Value Engineering Skills</td>
              </tr>    <tr>
                <th scope="row">22</th>
                <td>PAM22</td>
                <td>Project Appraisal & Analysis</td>
              </tr>
              <tr>
                <th scope="row">23</th>
                <td>PAM23</td>
                <td>Program Management Professionals (PgMP)</td>
              </tr>
              <tr>
                <th scope="row">24</th>
                <td>PAM24</td>
                <td>Public-Private Partnerships (PPP) Project Preparation</td>
              </tr>
              <tr>
                <th scope="row">25</th>
                <td>PAM25</td>
                <td>PPP Project Preparation & Contract Management</td>
              </tr>
              <tr>
                <th scope="row">26</th>
                <td>PAM26</td>
                <td>Project Finance & Financial Analysis Techniques for Infrastructure Projects</td>
              </tr>
              <tr>
                <th scope="row">27</th>
                <td>PAM27</td>
                <td>Risk Assessment & Risk Management for Projects</td>
              </tr>
              <tr>
                <th scope="row">28</th>
                <td>PAM28</td>
                <td>Enterprise Project Management & Business Performance</td>
              </tr>
              <tr>
                <th scope="row">29</th>
                <td>PAM29</td>
                <td>Managing Contractual Liabilities</td>
              </tr>
              <tr>
                <th scope="row">30</th>
                <td>PAM30</td>
                <td>Construction Site Management & Supervision</td>
              </tr>
              <tr>
                <th scope="row">31</th>
                <td>PAM31</td>
                <td>Managing Multiple Tasks, Priorities & Deadlines</td>
              </tr>
              <tr>
                <th scope="row">32</th>
                <td>PAM32</td>
                <td>Event Management Essentials</td>
              </tr>
              <tr>
                <th scope="row">33</th>
                <td>PAM33</td>
                <td>Mastering Portfolios, Programmes & Projects</td>
              </tr>
              <tr>
                <th scope="row">34</th>
                <td>PAM34</td>
                <td>IT Project Management</td>
              </tr>
            </tbody>
          </table>

    </div>
</section>
</main>
</app-header>
