  <app-header></app-header>
  <app-hero-section></app-hero-section>
  <main id="main">
    <app-about-section></app-about-section>
    <app-services-section></app-services-section>
    <app-why-us-section></app-why-us-section>
    <app-portfolio-section></app-portfolio-section>
    <app-testimonials-section></app-testimonials-section>
    <app-team-section></app-team-section>
    <app-clients-section></app-clients-section>
    <app-contact-section></app-contact-section>
  </main><!-- End #main -->

  <app-footer></app-footer>


  