    <!-- ======= Why Us Section ======= -->
    <section id="why-us">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h3>Why choose us?</h3>
            <p>The difference is in the details.</p>
          </header>
  
          <div class="row row-eq-height justify-content-center">

            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="100">
                <i class="bi bi-bookmark-check"></i>
                <div class="card-body">
                  <h5 class="card-title">CONFIDENCE workshops assist you in transforming your performance for optimal outcomes.</h5>
                  <p class="card-text" style="text-align: center;">A company with excellent products but bad customer service would suffer sales losses. An inventive scientist with poor interpersonal skills will find it difficult to advance. Through efficient training, you may maintain your talents as strong and varied as possible. CONFIDENCE provides a mix of tremendous benefits that has made us the chosen training provider for millions.</p>
                  <!-- <a href="#" class="readmore">Read more </a> -->
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="100">
                <i class="bi bi-search-heart"></i>
                <div class="card-body">
                  <h5 class="card-title">Get professional training advice and excellent customer service.</h5>
                  <p class="card-text" style="text-align: center;">Our training consultants can assist you in analyzing your work or company requirements and developing the optimal plan for expanding your abilities. Every CONFIDENCE staff member will provide you with courteous and educated customer service when you are enrolled in a class at one of our locations.</p>
                  <!-- <a href="#" class="readmore">Read more </a> -->
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="100">
                <i class="bi bi-shield-lock"></i>
                <div class="card-body">
                  <h5 class="card-title">Discover why our faculty is one of CONFIDENCE's most valuable assets.</h5>
                  <p class="card-text" style="text-align: center;">CONFIDENCE's faculty members are respected subject-matter experts who also happen to be great business executives. They understand the difficult business environment since they have suffered many of the same hardships and obstacles as you. Their dedication ensures that our learning experiences are dynamic, intriguing, and fun.</p>
                  <!-- <a href="#" class="readmore">Read more </a> -->
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="100">
                <i class="bi bi-calendar4-week"></i>
                <div class="card-body">
                  <h5 class="card-title">Our training is based on proven adult learning methods</h5>
                  <p class="card-text" style="text-align: center;">The CONFIDENCE way of learning is the most effective combination of visual and language-orientated learning with superior course design, pace, and hands-on skill growth. Each idea is illuminated with examples, case studies, group discussions, and skill practice.</p>
                  <!-- <a href="#" class="readmore">Read more </a> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="100">
                <i class="bi bi-ticket-detailed-fill"></i>
                <div class="card-body">
                  <h5 class="card-title">Get the advantages that can only be obtained through CONFIDENCE.</h5>
                  <p class="card-text" style="text-align: center;">People come to us because they know that professional growth with CONFIDENCE is a one-of-a-kind, refreshing experience. We remain a valued advisor to the business community, guiding firms and individuals through economic downturns, technological transitions, and other types of change. Many people have attended our seminars and other events. CONFIDENCE has a track record like that, as well as the most diverse training alternatives we've ever given, including a plethora of time- and money-saving possibilities.</p>
                  <!-- <a href="#" class="readmore">Read more </a> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="200">
                <i class="bi bi-camera-reels"></i>
                <div class="card-body">
                  <h5 class="card-title">Creating the perfect learning experience for you is our goal</h5>
                  <p class="card-text" style="text-align: center;">Every CONFIDENCE learning event is unique because the skills you learn are addressed in the context of what you and the other attendees hope to achieve. Pre- and post-assessments aid in measuring and ensuring retention, increasing the likelihood that you will apply what you learn on the job.</p>
                  <!-- <a href="#" class="readmore">Read more </a> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="300">
                <i class="bi bi-chat-square-text"></i>
                <div class="card-body">
                  <h5 class="card-title">Your satisfaction is guaranteed</h5>
                  <p class="card-text" style="text-align: center;">We guarantee the quality of our programs at CONFIDENCE. 98 percent of our participants indicate they would suggest the courses they took to their coworkers. If you are dissatisfied with a paid program for any reason, we will offer you credit toward another program or refund your cost. </p>
                  <!-- <a href="#" class="readmore">Read more </a> -->
                </div>
              </div>
            </div>
  
          </div>
  
          <!-- <div class="row counters" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
  
          </div> -->
  
        </div>
      </section><!-- End Why Us Section -->
